{{! Load CSS First }}
<link href="{{version}}/common.css" rel="stylesheet">

<div id="ceGutters" class="thanksgiving_container">
  	
	<div class="thanksgiving_hero">
		<div class="row">
	    	<div class="small-12 large-4 columns">
	    		<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_mobile_01.png" class="show-for-medium-down">
	    		<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_01.png" class="show-for-large-up">
	    	</div>
	    	<div class="small-12 large-8 columns thanksgiving_hero thanksgiving_hero_text">
	    		<span id="message" class="countdown"><span>
	    	</div>
	    	<div class="clearBoth"></div>
	    </div>
    </div>

	<div class="row collapse thanksgiving_text thanksgiving_shopmartha">
    	<div class="small-12 large-12 columns">
    		<h2>
    			Feast Your Eyes:<br class="show-for-medium-down"> <span>Thanksgiving<br class="show-for-medium-down"> In 4 Steps</span>
    		</h2>
    		<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection?id=42151" data-cm="marthastewartcollection">
	    		<button class="shop">
	    			Martha Stewart Collection
	    		</button>
	    	</a>
    	</div>
    </div>

    <div class="row collapse thanksgiving_mobilePadding">
		<div class="large-10 large-centered small-12 columns">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_mobile_02.jpg" class="show-for-medium-down">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_02.jpg" class="show-for-large-up">
		</div>
	</div>    

	<div class="row collapse thanksgiving_text">
    	<div class="small-12 large-12 columns">
    		<h3>
    			1. Setting the scene is<br class="show-for-medium-down"> Martha's strong point
    		</h3>
    		<div class="row collapse">
    			<div class="small-12 large-3 large-offset-3 columns">
    				<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories/Dining%20%26%20Entertaining?id=42151" data-cm="dining">
		    			<button class="firstbutton">
		    				Dining
		    			</button>
		    		</a>
	    		</div>

	    		<div class="small-12 large-3 end columns">
    				<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories/Furniture?id=42151" data-cm="furniture">
		    			<button>
		    				Furniture
		    			</button>
		    		</a>
	    		</div>
	    	</div>
    	</div>
    </div>

	<div class="row collapse thanksgiving_mobilePadding">
		<div class="large-10 large-centered small-12 columns">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_mobile_03.jpg" class="show-for-medium-down">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_03.jpg" class="show-for-large-up">
		</div>
	</div>
    
	<div class="row collapse thanksgiving_text">
    	<div class="small-12 large-12 columns">
    		<h3>
    			2. Create a centerpiece<br class="show-for-medium-down"> worthy of everyone's<br> Instagram feed.
    		</h3>
    		<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories,Kitchen_type/Kitchen,Kitchen%20Gadgets?id=42151" data-cm="gadgets">
	    		<button>
	    			Gadgets
	    		</button>
	    	</a>
    	</div>
    </div>

    <div class="row collapse thanksgiving_mobilePadding">
		<div class="large-10 large-centered small-12 columns">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_mobile_04.jpg" class="show-for-medium-down">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_04.jpg" class="show-for-large-up">
		</div>
	</div>

	<div class="row collapse thanksgiving_text">
    	<div class="small-12 large-12 columns">
    		<h3>
    			3. PSA: the sides are<br class="show-for-medium-down"> just as important as the<br> main today.
    		</h3>
    		<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories,Kitchen_type/Kitchen,Cookware?id=42151" data-cm="cookware">
	    		<button>
	    			Cookware
	    		</button>
	    	</a>
    	</div>
    </div>

	<div class="row collapse thanksgiving_mobilePadding">
		<div class="large-10 large-centered small-12 columns">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_mobile_05.jpg" class="show-for-medium-down">
			<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_05.jpg" class="show-for-large-up">
		</div>
	</div>

	<div class="row collapse thanksgiving_text">
    	<div class="small-12 large-12 columns">
    		<h3>
    			4. A little refresh for<br class="show-for-medium-down"> your overnight guests.
    		</h3>
    		<div class="row collapse">
    			<div class="small-12 large-3 large-offset-3 columns">
    				<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories/Bath?id=42151" data-cm="bath">
		    			<button class="firstbutton">
		    				Bath
		    			</button>
		    		</a>
	    		</div>

	    		<div class="small-12 large-3 end columns">
    				<a href="{{ENV_HOSTNAME}}/shop/for-the-home/martha-stewart-collection/Home_categories/Bedding?id=42151" data-cm="bedding">
		    			<button>
		    				Bedding
		    			</button>
		    		</a>
	    		</div>
	    	</div>
    	</div>
    </div>

    <div class="row">
		<div class="small-12 large-12 columns">
			<div class="slideshow_title">
				Time’s-a-ticking: let’s get<br class="show-for-medium-down"> holiday-ready with Martha!
			</div> 
		</div>
	</div>


    <div id="slideshow_container" class="showslide_1a">
		<div class="row slide1">
			<div class="small-1 large-1 large-offset-0 columns">
				<a href="javascript:showSlide('showslide_4a');" class="arrow mobileA desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
				<a href="javascript:showSlide('showslide_1a');" class="arrow mobileB">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
			</div>    
			<div class="small-10 large-5 columns slideA">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851145211001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideA_frame"></iframe>
				</div>
			</div>
			<div class="small-10 large-5 columns slideB">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851145212001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideB_frame"></iframe>
				</div>          
			</div>
			<div class="small-1 small-end large-1 end columns">
				<a href="javascript:showSlide('showslide_1b');" class="arrow mobileA">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
				<a href="javascript:showSlide('showslide_2a');" class="arrow mobileB desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
			</div>
		</div>

		<div class="row slide2">
			<div class="small-1 large-1 large-offset-0 columns">
				<a href="javascript:showSlide('showslide_1b');" class="arrow mobileA desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
				<a href="javascript:showSlide('showslide_2a');" class="arrow mobileB">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
			</div>
			<div class="small-10 large-5 columns slideA">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851147483001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideA_frame"></iframe>
				</div>
			</div>
			<div class="small-10 large-5 columns slideB">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851141658001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideB_frame"></iframe>
				</div>          
			</div>
			<div class="small-1 small-end large-1 end columns">
				<a href="javascript:showSlide('showslide_2b');" class="arrow mobileA">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
				<a href="javascript:showSlide('showslide_3a');" class="arrow mobileB desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
			</div>
		</div>
		<div class="row slide3">
			<div class="small-1 large-1 large-offset-0 columns">
				<a href="javascript:showSlide('showslide_2b');" class="arrow mobileA desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
				<a href="javascript:showSlide('showslide_3a');" class="arrow mobileB">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
			</div>
			<div class="small-10 large-5 columns slideA">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851147095001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideA_frame"></iframe>
				</div>
			</div>
			<div class="small-10 large-5 columns slideB">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851149485001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideB_frame"></iframe>
				</div>          
			</div>
			<div class="small-1 small-end large-1 end columns">
				<a href="javascript:showSlide('showslide_3b');" class="arrow mobileA">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
				<a href="javascript:showSlide('showslide_4a');" class="arrow mobileB desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
			</div>
		</div>

		<div class="row slide4">
			<div class="small-1 large-1 large-offset-0 columns">
				<a href="javascript:showSlide('showslide_3b');" class="arrow mobileA desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowPrev.png">
				</a>
			</div>
			<div class="small-10 large-5 columns slideA">
				<div style="padding-top: 58%;">                
					<iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5851149486001" allowfullscreen webkitallowfullscreen 
 mozallowfullscreen class="slideA_frame"></iframe>
				</div>
			</div>
			<div class="small-10 large-5 columns slideB">
				&nbsp;
			</div>
			<div class="small-1 small-end large-1 end columns">
				<a href="javascript:showSlide('showslide_1a');" class="arrow mobileA desktop">
					<img src="//assets.macysassets.com/dyn_img/creativepages/C8100529_thanksgiving_desktop_arrowNext.png">
				</a>
			</div>
		</div>
    </div>


</div>


<script>
function showSlide(addClass) {
	if (document.getElementById('slideshow_container')) {
		$( "#slideshow_container" ).removeClass();
		$( "#slideshow_container" ).addClass(addClass);
	}
}
</script>
{{! Load  JS Last so DOM is already present }}
<script src="{{version}}/js/hosting-thanksgiving.manifest.js"></script>
<script src="{{version}}/js/hosting-thanksgiving.app.js"></script>
